---
import { CidadeBercoBG } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
---

<Layout
    title="Afonsina - Tuna de Engenharia da Universidade do Minho"
    description="Tuna de Engenharia da Universidade do Minho"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: CidadeBercoBG.src,
                content: {
                    title: "Contactos",
                    paragraph: "Se precisares de falar connosco, não hesites em contactar-nos."
                },
            }}
        />
        <ContactModule client:load />
    </main>
    <Footer />
</Layout>
